<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lauwba.project.desalauwba">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.DetailPengumuman">
        </activity>
        <activity android:name=".ui.berita.Berita">
        </activity>
        <activity android:name=".ui.layanan.Layanan">
        </activity>
        <activity android:name=".ui.galeri.Galeri">
        </activity>
        <activity android:name=".ui.pengumuman.Pengumuman">
        </activity>
        <activity android:name=".ui.potensidesa.PotensiDesa">
        </activity>
        <activity android:name=".ui.programdesa.ProgramDesa">
        </activity>
    </application>

</manifest>